---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [2]:
import pandas as pd
import numpy as np


df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [3]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    first_country = df.head(1)
    return first_country

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [4]:
def answer_one():
    goldmax = df["Gold"].argmax()
    return goldmax
answer_one()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [5]:
def answer_two():
    difference = (df["Gold"] - df["Gold.1"]).argmax()
    return difference
answer_two()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [6]:
def answer_three():
    atleast1 = df.where((df["Gold"]>0) & (df["Gold.1"]>0)).dropna()
    return ((atleast1["Gold"]-atleast1["Gold.1"])/atleast1["Gold.2"]).argmax()
answer_three()

df.dropna?

C:\Users\RANGA\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  This is separate from the ipykernel package so we can avoid doing imports until

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [7]:
def answer_four():
    df["Points"] = df["Gold.2"]*3 + df["Silver.2"]*2 + df["Bronze.2"]*1
    return df["Points"]
answer_four()

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Name: Points, Length: 146, dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [8]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [9]:
def answer_five():
    maxcountystate = (census_df["STNAME"].value_counts()).argmax()
    return maxcountystate
answer_five()

C:\Users\RANGA\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

'Texas'

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [15]:
def answer_six():
    census1 = census_df[census_df["SUMLEV"]==50]
    ctyhigh = census1.sort_values(["STNAME","CENSUS2010POP"],ascending = False).groupby("STNAME").head(3)
    statehigh = (ctyhigh.groupby("STNAME").sum()).sort_values("CENSUS2010POP",ascending = False).head(3).index.tolist()
    return statehigh
answer_six()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [17]:
def smallFun():
    census1 = census_df[census_df["SUMLEV"] == 50]
    census = census1[["CTYNAME","POPESTIMATE2010","POPESTIMATE2011","POPESTIMATE2012","POPESTIMATE2013","POPESTIMATE2014","POPESTIMATE2015"]]
    census.index = census["CTYNAME"]
    return census
smallFun()

,CTYNAME,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
CTYNAME,,,,,,,
Autauga County,Autauga County,54660,55253,55175,55038,55290,55347
Baldwin County,Baldwin County,183193,186659,190396,195126,199713,203709
Barbour County,Barbour County,27341,27226,27159,26973,26815,26489
Bibb County,Bibb County,22861,22733,22642,22512,22549,22583
Blount County,Blount County,57373,57711,57776,57734,57658,57673
Bullock County,Bullock County,10887,10629,10606,10628,10829,10696
Butler County,Butler County,20944,20673,20408,20261,20276,20154
Calhoun County,Calhoun County,118437,117768,117286,116575,115993,115620
Chambers County,Chambers County,34098,33993,34075,34153,34052,34123
Cherokee County,Cherokee County,25976,26080,26023,26084,25995,25859
Chilton County,Chilton County,43665,43739,43697,43795,43921,43943
Choctaw County,Choctaw County,13841,13593,13543,13378,13289,13170
Clarke County,Clarke County,25767,25570,25144,25116,24847,24675
Clay County,Clay County,13880,13670,13456,13467,13538,13555
Cleburne County,Cleburne County,14973,14971,14921,15028,15072,15018
Coffee County,Coffee County,50177,50448,51173,50755,50831,51211
Colbert County,Colbert County,54514,54443,54472,54471,54480,54354
Conecuh County,Conecuh County,13208,13121,12996,12875,12662,12672
Coosa County,Coosa County,11758,11348,11195,11059,10807,10724
Covington County,Covington County,37796,38060,37818,37830,37888,37835
Crenshaw County,Crenshaw County,13853,13896,13951,13932,13948,13963
Cullman County,Cullman County,80473,80469,80374,80756,81221,82005
Dale County,Dale County,50358,50109,50324,49833,49501,49565
Dallas County,Dallas County,43803,43178,42777,42021,41662,41131
DeKalb County,DeKalb County,71142,71387,70942,70869,71012,71130
Elmore County,Elmore County,79465,80012,80432,80883,81022,81468
Escambia County,Escambia County,38309,38213,38034,37857,37784,37789
Etowah County,Etowah County,104442,104236,104235,103852,103452,103057
Fayette County,Fayette County,17231,17062,16960,16857,16842,16759
Franklin County,Franklin County,31734,31729,31648,31507,31592,31696
...,...,...,...,...,...,...,...
Washburn County,Washburn County,15930,15784,15831,15657,15678,15552
Washington County,Washington County,131967,132225,132649,132758,133301,133674
Waukesha County,Waukesha County,390076,390808,392710,394025,395335,396488
Waupaca County,Waupaca County,52422,52342,52035,52213,52088,51945
Waushara County,Waushara County,24506,24581,24484,24332,24173,24033
Winnebago County,Winnebago County,167059,167630,168717,169486,169639,169546
Wood County,Wood County,74807,74647,74384,73996,73597,73435
Albany County,Albany County,36428,36908,37396,37647,37918,37956
Big Horn County,Big Horn County,11672,11745,11785,12002,11919,12022
Campbell County,Campbell County,46244,46600,47881,48121,48243,49220
Carbon County,Carbon County,15837,15817,15678,15787,15856,15559
Converse County,Converse County,13826,13728,14025,14343,14172,14236
Crook County,Crook County,7114,7129,7148,7160,7264,7444
Fremont County,Fremont County,40222,40591,41129,41024,40717,40315
Goshen County,Goshen County,13408,13597,13666,13565,13509,13383
Hot Springs County,Hot Springs County,4813,4818,4846,4846,4793,4741
Johnson County,Johnson County,8581,8636,8610,8619,8552,8585
Laramie County,Laramie County,92271,92663,94894,96006,96469,97121
Lincoln County,Lincoln County,18091,18022,17943,18328,18564,18722
Natrona County,Natrona County,75472,76420,78699,81156,81603,82178
Niobrara County,Niobrara County,2492,2485,2475,2548,2530,2542
Park County,Park County,28259,28473,28863,29237,29126,29228
Platte County,Platte County,8678,8701,8732,8728,8776,8812
Sheridan County,Sheridan County,29146,29275,29594,29794,30020,30009
Sublette County,Sublette County,10244,10142,10418,10086,10039,9899
Sweetwater County,Sweetwater County,43593,44041,45104,45162,44925,44626
Teton County,Teton County,21297,21482,21697,22347,22905,23125
Uinta County,Uinta County,21102,20912,20989,21022,20903,20822
Washakie County,Washakie County,8545,8469,8443,8443,8316,8328
Weston County,Weston County,7181,7114,7065,7160,7185,7234

In [12]:
def answer_seven():
    census1 = census_df[census_df["SUMLEV"] == 50]
    census = census1[["POPESTIMATE2010","POPESTIMATE2011","POPESTIMATE2012","POPESTIMATE2013","POPESTIMATE2014","POPESTIMATE2015"]]
    census.index = census1["CTYNAME"]
    pop = census.sort_values(["POPESTIMATE2010","POPESTIMATE2011","POPESTIMATE2012","POPESTIMATE2013","POPESTIMATE2014","POPESTIMATE2015"],ascending = False)
    pop = pop.assign(ABSOLUTE = np.absolute(pop.min(axis = 1)-pop.max(axis = 1)))
    return pop["ABSOLUTE"].argmax()
answer_seven()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  import sys

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [13]:
def answer_eight():
    census = census_df[census_df["SUMLEV"]==50]
    census2 = census[["STNAME","CTYNAME","REGION","POPESTIMATE2014","POPESTIMATE2015"]]
    cen = census2[(census2.REGION<3) & (census2.CTYNAME.str.startswith("Washington")) & (census2.POPESTIMATE2014 < census2.POPESTIMATE2015)]
      
    return cen[["STNAME","CTYNAME"]]
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County